# PocketBase Configuration
# PocketBase API URL
# Para desarrollo local:
# NEXT_PUBLIC_POCKETBASE_URL=http://127.0.0.1:8090

# Para servidor remoto:
NEXT_PUBLIC_POCKETBASE_URL=https://api.tamefor.com

# En producción, cambiar a la URL real de tu servidor PocketBase
# NEXT_PUBLIC_POCKETBASE_URL=https://tu-dominio-pocketbase.com
